<!DOCTYPE html>
<html lang="en" ng-app="VitaminQuizApp">
  <head>
    <meta charset="utf-8">
    <!-- Angular Material CSS -->
    <link
      rel="stylesheet"
      href="node_modules/angular-material/angular-material.css">
    <!-- mdDataTable CSS -->
    <link
      rel="stylesheet"
      href="bower_components/angular-material-data-table/dist/md-data-table.css">
    <!-- Angular Chart -->
    <link
      rel="stylesheet"
      href="bower_components/angular-chart.js/dist/angular-chart.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body
    ng-controller="QuizCtrl"
    layout="column"
    ng-cloak>
    <md-toolbar>
      <h1 class="md-toolbar-tools">{{quiz.title}}</h1>
    </md-toolbar>
    <md-toolbar ng-if="!finished" layout="row">
      <h2 class="md-toolbar-tools">{{quiz.intro}}</h2>
      <span flex></span>
      <md-button
        class="md-icon-button"
        ng-click="addFood($event)"
        aria-label="Add food">
        <md-icon md-svg-icon="img/new.svg">
        </md-icon>
      </md-button>
      <md-button
        class="md-icon-button"
        ng-click="customThresholds($event)"
        aria-label="Custom thresholds">
        <md-icon md-svg-icon="img/equalizer.svg">
        </md-icon>
      </md-button>
      <md-button
        class="md-icon-button"
        ng-click="selectFoods($event)"
        aria-label="Select Foods">
        <md-icon md-svg-icon="img/list.svg">
        </md-icon>
      </md-button>
    </md-toolbar>
    <md-table-container ng-hide="finished">
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>Foods</th>
            <th md-column ng-repeat="answer in quiz.answers">{{answer}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-auto-select ng-repeat="food in quiz.foods">
            <td md-cell>{{food}}</td>
            <td md-cell ng-repeat="answer in quiz.answers">
              <md-radio-group ng-model="food2answer[food]">
                <md-radio-button
                  value="{{$index}}"
                  aria-label="Answer {{$index}} for food {{$parent.$index}}">
                </md-radio-button>
              </md-radio-group>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-button
      class="md-raised md-primary"
      ng-click="results()"
      ng-hide="finished">
      Get Results
    </md-button>
    <md-toolbar ng-if="finished" ng-show="vitaminsEnough().length > 0">
      <h2 class="md-toolbar-tools">{{quiz.text_enough}}</h2>
    </md-toolbar>
    <md-list ng-if="finished" ng-show="vitaminsEnough().length > 0">
      <md-list-item class="md-1-line" ng-repeat="vitamin in vitaminsEnough()">
        <div class="md-list-item-text">
          {{vitamin}} [Q.ty: {{intake(vitamin) | number}} ({{percentage(vitamin) | number: 2}}%)]
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
    <md-toolbar ng-if="finished" ng-show="vitaminsNotEnough().length > 0">
      <h2 class="md-toolbar-tools">{{quiz.text_not_enough}}</h2>
    </md-toolbar>
    <md-list ng-if="finished" ng-show="vitaminsNotEnough().length > 0">
      <md-list-item class="md-1-line" ng-repeat="vitamin in vitaminsNotEnough()">
        <div class="md-list-item-text">
          {{vitamin}} [Q.ty: {{intake(vitamin) | number}} ({{percentage(vitamin) | number: 2}}%)]
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
    <md-toolbar ng-if="finished">
      <h2 class="md-toolbar-tools">Charts</h2>
    </md-toolbar>
    <md-toolbar ng-if="finished">
      <h2 class="md-toolbar-tools">Intakes for each nutrient</h2>
    </md-toolbar>
    <div ng-if="finished" layout-padding>
      <div class="chart_container">
        <canvas
          id="chart_1"
          class="chart chart-bar"
          chart-data="chart_1_data"
          chart-labels="chart_1_labels"
          chart-series="chart_1_series"
          chart-legend="true">
        </canvas>
      </div>
    </div>
    <div ng-if="finished">
      <md-toolbar>
        <h2 class="md-toolbar-tools">Legend</h2>
      </md-toolbar>
      <md-table-container>
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Food</th>
              <th md-column>Label</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-auto-select ng-repeat="food in quiz.foods">
              <td md-cell>{{food}}</td>
              <td md-cell>F{{$index + 1}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
    <div ng-if="finished" ng-repeat="vitamin in quiz.vitamins">
      <md-toolbar ng-if="finished">
        <h2 class="md-toolbar-tools">Food contributions for {{vitamin}}</h2>
      </md-toolbar>
      <div class="chart_container" layout-padding>
        <canvas
          ng-attr-id="pie_chart_for_{{vitamin}}"
          class="chart chart-pie"
          chart-data="pie_chart_data[vitamin]"
          chart-labels="pie_chart_labels[vitamin]"
          chart-legend="true">
        </canvas>
      </div>
    </div>
    <md-button
      id="leave_email"
      class="md-raised md-primary"
      ng-click="openResultsDialog($event)"
      ng-if="finished">
      Download Results
    </md-button>
    <!-- JavaScript -->
    <!-- Dependencies -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script
      src="bower_components/angular-material-data-table/dist/md-data-table.js">
    </script>
    <script src="bower_components/Chart.js/Chart.js">
    </script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js">
    </script>
    <script src="bower_components/jspdf/dist/jspdf.debug.js">
    </script>
    <script src="bower_components/html2canvas/build/html2canvas.js">
    </script>
    <!-- My code -->
    <script src="script.js"></script>
  </body>
</html>
